<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,632},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,733},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,620},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,513},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>hit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>hit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,247},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>hit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>hit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,387},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>hit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,493},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>hit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,259},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>hit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{127,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,126}}</string>
                <key>sourceSize</key>
                <string>{127,126}</string>
            </dict>
            <key>hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,538},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>hit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,512},{119,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{119,118}}</string>
                <key>sourceSize</key>
                <string>{127,126}</string>
            </dict>
            <key>hit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>hit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>hit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>hit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,131},{127,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,126}}</string>
                <key>sourceSize</key>
                <string>{127,126}</string>
            </dict>
            <key>hit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,131},{127,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,126}}</string>
                <key>sourceSize</key>
                <string>{127,126}</string>
            </dict>
            <key>hit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{127,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,126}}</string>
                <key>sourceSize</key>
                <string>{127,126}</string>
            </dict>
            <key>hit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,259},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>hit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,386},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>hit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,537},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>hit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,368},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>hit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,125},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,629},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,521},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>hit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,447},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>hit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,529},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>hit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,733},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>hit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,416},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>hit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,521},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>hit_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,402},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,387},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,4}</string>
            </dict>
            <key>hit_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,512},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>hit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,530},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>hit_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,552},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>hit_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,545},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>hit_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,441},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>hit_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,435},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>hit_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,620},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>hit_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,395},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>hit_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,409},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>hit_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,513},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,741},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>hit_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,429},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>hit_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,642},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>hit_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,423},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,741},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>hit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:216599e3de4d1d85964c8da391583113:1/1$</string>
            <key>textureFileName</key>
            <string>hit-ipadhd.png</string>
        </dict>
    </dict>
</plist>
